body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
  max-width: 400px;
  margin: 40px auto;
}

.StripeElement {
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
}

button {
  background-color: royalblue;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  box-shadow: none;
  padding: 8px 24px;
}
